Flask==0.12.2
numpy==1.13.3
pandas==0.21.1
pytest==3.3.2
#pyiso==0.4.0
git+git://github.com/WattTime/pyiso@master#egg-pyiso
funcy==1.10
keras==2.1.3
tensorflow==1.4.1
Flask-Webpack==0.1.0
Flask-Migrate==2.1.1
astral==1.6
tzlocal==1.5.1
