@import '~sass-rem';
@import '~tachyons-sass/tachyons.scss';

// variables and classes to apply them

$bg:     #000;
$main:   #F2F2F2;
$accent: #27AE60;

.bg {
  color: $bg;
}

.main {
  color: $main;
}

.accent {
  color: $accent;
}


// components

@import 'components/typography';
@import 'components/chart';


// page layout

body {
  background: $bg;
  color: $main;
  font-family: 'Nunito', sans-serif;
  padding: rem(20px);
}

.container {
  width: 100%;
}

@media #{$breakpoint-large} {
  .container {
    max-width: rem(920px);
  }
}

