<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Renewables</title>
    <meta name="description" content="Renewable energy predictions for Berlin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ stylesheet_tag('main') | safe }}
  </head>
  <body>
    <p id="hello">Hello world!</p>
    {{ javascript_tag('main') | safe }}
  </body>
</html>
