{% from 'macros.jinja2' import data_label %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Renewables</title>
    <meta name="description" content="Renewable energy predictions for Berlin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600" rel="stylesheet">
    {{ stylesheet_tag('main') | safe }}
  </head>
  <body>

    <div class="container center-l">
      <h1 class="tc">Berlin <span class="accent">Renewables</span></h1>
      <svg id="chart" class="generation-chart" width="920" height="500">
        {{ data_label('24h ago') }}
        {{ data_label('now') }}
        {{ data_label('in 6h*') }}
      </svg>
    </div>

    <script>
      // some temporary testing data
      var generationData = [0.609024,0.610106,0.604062,0.595785,0.586156,0.572461,0.555949,0.539961,0.520175,0.499054,0.47759,0.455587,0.428609,0.400047,0.375179,0.353181,0.332125,0.315488,0.298265,0.28276,0.270644,0.259217,0.249095,0.242276,0.23805,0.234499,0.230193, 0.25, 0.33, 0.47];
    </script>

    {{ javascript_tag('main') | safe }}

  </body>
</html>
