.chart {
  &__label {
    circle {
      stroke-width: 3px;
      stroke: $accent;
      fill: darken($bg, 5%);
    }
    text {
      fill: $main;
    }
  }

  .line {
    stroke: darken($accent, 7%);
    stroke-width: 7px;
    fill: none;

    &--predicted {
      stroke-dasharray: 5,5;
    }
  }

  .axis path {
    stroke: darken($accent, 10%);
    stroke-width: 22px;
    stroke-dasharray: 5,5;
    fill: none;
  }
}


