.chart {
  &__data-label {
    circle {
      stroke-width: 3px;
      stroke: $accent;
    }
    text {
      fill: $main;
    }
  }

  &__label-connection {
    stroke: $accent;
    stroke-width: 3px;
  }

  &__line {
    stroke: darken($accent, 7%);
    stroke-width: 7px;
    fill: none;

    &--predicted {
      stroke-dasharray: 5,5;
    }

    &--mask {
      stroke-width: 30px;
      stroke: $bg;
    }
  }

  &__axis path {
    stroke: darken($main, 20%);
    stroke-width: 12px;
    stroke-dasharray: 5,7;
    fill: none;
  }

  &__axis-label {
    font-size: rem(22px);
    fill: $main;
  }
}


