.generation-table {
  width: 100%;
  margin: 20px;
  font-size: rem(22px);
  border-collapse: collapse;
  text-align: left;

  thead tr th,
  tbody tr:not(:last-child) td {
    padding: rem(10px) 0;
  }

  th {
    border-bottom: 1px solid $main;
  }

  &__row--renewables {
    color: $accent;
  }
}
